<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Angular 2 Fundamentals
        </mat-panel-title>

        <mat-panel-description>
            Total Duration: 3 hours
        </mat-panel-description>
    </mat-expansion-panel-header>

    <p>This is the panel content. Add details later.</p>

    <mat-action-row>
        <button mat-stroked-button color="accent">Enroll</button>
    </mat-action-row>
</mat-expansion-panel>

<br/>
<br/>
<br/>
<br/>

<mat-accordion multi="false" hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular 2 Material
            </mat-panel-title>

            <mat-panel-description>
                Total Duration: 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>

        <p>This is the panel content. Add details later.</p>

        <mat-action-row>
            <button mat-raised-button color="primary">Enroll</button>
            <button mat-stroked-button color="accent">Cancel</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular 2 Fundamentals
            </mat-panel-title>

            <mat-panel-description>
                Total Duration: 2 hours
            </mat-panel-description>
        </mat-expansion-panel-header>

        <p>This is the panel content. Add details later.</p>

        <mat-action-row>
            <button mat-raised-button color="primary">Enroll</button>
            <button mat-stroked-button color="accent">Cancel</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
