<div>
    <button mat-button>mat-button</button>
    <button mat-raised-button>mat-raised-button</button>
    <button mat-flat-button>mat-flat-button</button>
    <button mat-stroked-button>mat-stroked-button</button>
</div>

<div>
    <button mat-icon-button>icon</button>
    <button mat-fab>fab</button>
    <button mat-mini-fab>mini</button>
</div>

<div>
    <button mat-raised-button color="primary">primary</button>
    <button mat-raised-button color="accent">accent</button>
    <button mat-raised-button color="warn">warn</button>
    <button mat-flat-button color="primary">primary</button>
    <button mat-flat-button color="accent">accent</button>
    <button mat-flat-button color="warn">warn</button>
    <button mat-stroked-button color="primary">primary</button>
    <button mat-stroked-button color="accent">accent</button>
    <button mat-stroked-button color="warn">warn</button>
</div>

<div>
    <button mat-button disableRipple>no ripple</button>
    <button mat-raised-button disableRipple>no ripple</button>
    <button mat-flat-button disableRipple>no ripple</button>
    <button mat-stroked-button disableRipple>no ripple</button>
</div>